*{
  user-select: none;
}


.card:hover{
  box-shadow: 0 0 .3rem #08081d;
}

.containerCart{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.containerCart h2{
  font-size: 2.5rem;
}

.containerDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: whitesmoke;
}

.imgBack{
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 40%;

}

.detail{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.imgDetail{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgDetail img{
  box-shadow: -3rem -3rem 0rem #17174A;
  height: 20rem;
  border-radius: .2rem;
}

.voteAverage{
  display: flex;
  align-items: center;
}

.voteAverageIcon{
  margin: .5rem;
  color:#17174A;
}

.contador{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.botonAgregar{
  width: 100%;
}

.formularioCheckout{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  color: #e3e0da;
  text-decoration: none;
  padding: 2rem;
}

input{
  display: block;
  margin: 2rem 0 2rem 0;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid rgb(133, 13, 13);
  transition: .6s ease;
  cursor: pointer;
  font-size: 1.1rem;
}

input:hover {
  border-bottom: 0.1rem solid rgb(219, 133, 133); }

label{
  color: #151542;
  font-weight: bolder;
  font-size: 1.3rem;
}

.postCheckout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.postCheckout h2, .postCheckout h3{
  font-size: 2.5rem;
}

.infoDetail{
  width: 50%;
  padding: 2rem;
  line-height: 1.7rem;
  z-index: 1;
}

.infoDetail h2{
  font-size: 3.5rem;
  color: rgb(160, 4, 4);
}

.infoDetail h3, .infoDetail h4{
  font-size: 1.3rem;
  color: rgb(27, 26, 26);
}

.infoDetail h3 span{
  color: #151542;
  margin: 0 .5rem 0 0 ;
}

.cart h1{
  font-size: 8rem;
}

.containerItems{
  background-color: rgba(228, 228, 228, 0.233);
  padding: 2rem;
  border-radius: .3rem;
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.527);
  width: 70%;
}

.containerItems h2{
  margin: .1rem 0 1.2rem 0;
}

.titleCart{
  color:#17174A;
}

.cart h2{
  font-size: 2.5rem;
}

.botonesNav{
  color: whitesmoke;
  text-decoration: none;
  text-decoration: none;
  font-size: .95rem;
}

.titlesPages{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100Vh;
  background-image: linear-gradient(to top , black, rgba(0, 0, 0, 0.699)),url("https://i.postimg.cc/65qsffHY/20493446.jpg");
  box-shadow: 0 0 .2rem black;
  color: rgb(107, 93, 93);
  font-size: 5rem;
}

.titlesPages h1{
  font-size: 6rem;
  color: whitesmoke;
  padding: 2rem;
}


.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 7rem 0 2rem 0;
  height: 100%;
}


.itemsCart{
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: .5rem;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}

.itemsCart h2, .itemsCart h3{
  font-size: 1.3rem;
  width: 25%;
  margin: 0;
}


.imgItemCart{
  height: 6rem;
  border-radius: .1rem;
}

.cartInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.cartInfo h3{
  font-weight: bold;
  font-size: 1.5rem;
}

.cartInfo h3 span{
  color: red;
  margin: .1rem;
}

.cartInfoContainer{
  width: 63.4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonesCartInfo Button{
  margin-left: 1rem;
}


/* medias queries */

@media only screen and (max-width: 1400px){
  .infoDetail h2{
    font-size: 2.2rem;
    color: rgb(160, 4, 4);
  }
  
  .infoDetail h3, .infoDetail h4{
    font-size: 1rem;
    color: rgb(27, 26, 26);
  }

  .detail{
    margin-top: 11rem;
    background-color: whitesmoke;
  }


  .containerDetail{
    height: 80vh;
    background-color: whitesmoke;
  }

  .botonAgregar{
    font-size: .1rem;

  }

  .cart{
    height: 100vh;
  }
}

@media only screen and (max-width: 990px){
  .detail{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerDetail{
    height: 100vh;
  }

  .imgDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
  }

  .imgDetail img{
    box-shadow: -2rem -2rem 0rem #17174A;
    height: 17rem;
    border-radius: .2rem;
  }

  .containerCart h2{
    font-size: 1.5rem;
  }

  .containerItems{
    width: 80%;
    padding: 2rem;
  }

  .containerItems h2{
    font-size:2rem;
    margin-left: 1rem;
  }

  .cartMobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemsCart{
    width: 20%;
  }

  .itemsCart h2, .itemsCart h3{
    font-size: .9rem;
    margin: 0%;
    text-align: center;
  }

  .imgItemCart{
   height: 4rem;
  }
  
  .cartInfo h3{
    font-size: 1.3rem;
  }

  .cartInfo{
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .botonesCartInfo{
    width: 60vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .botonesCartInfo{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  label{
    font-size: 1rem;
  }

  .formularioCheckout{
    height: 100vh;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 900px){
  .botonesNav{
    color: #17174A;
  }
}

@media only screen and (max-width: 600px){

  .imgDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32rem;
  }

  .imgDetail img{
    box-shadow: -2rem -2rem 0rem #17174A;
    height: 15rem;
    border-radius: .2rem;
  }

  .infoDetail h2{
    font-size: 2rem;
    color: rgb(160, 4, 4);
  }
  
  .infoDetail h3, .infoDetail h4{
    font-size: .9rem;
    color: rgb(27, 26, 26);
  }

  .containerItems{
    width: 85%;
    padding: 2rem;
  }

  .containerCart h2{
    font-size: 1.5rem;
  }

  .containerItems h2{
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .cartMobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemsCart{
    width: 10%;
  }

  .itemsCart h2, .itemsCart h3{
    font-size: .7rem;
    margin: 0%;
    text-align: center;
  }

  .imgItemCart{
   display: block;
   height: 2.5rem;
  }
  
  .cartInfo h3{
    font-size: 1rem;
  }

  .cartInfo{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .botonesCartInfo{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  input{
    font-size: .9rem;
  }
}